.git
.github
.DS_Store
.env
.env.*
backend/.env*
backend/*.sqlite3*
backend/.venv
backend/__pycache__
frontend/.env*
frontend/node_modules
frontend/.next
frontend/test-results
frontend/playwright-report
frontend/out
frontend/public/upi-scanner.jpeg
frontend/tmp
frontend/public/audio/*.mpeg
*.mpeg
*.mpeg3
*.sqlite3*
